<footer role='contentinfo' class='g-footer'>
	<% if(projectType === 'Multipage') { %> {{#if credits}}<p class='g-footer--credits'>{{credits}}</p>{{else}}<p class='g-footer--credits'>{{meta.index.credits}}</p>{{/if}}<% } else { %>{{#if meta.credits}}<p class='g-footer--credits'>{{meta.credits}}</p>{{/if}}<% } %>

	{{> base/base-teasers}}
</footer>
