<footer role='contentinfo' class='g-footer'>
	<p class='g-footer--credits'><% if(projectType === 'Multipage') { %>{{#if credits}}credits{{else}}{{meta.index.credits}}{{/if}}<% } else { %>{{meta.credits}}<% } %></p>

	{{> base/base-teasers}}
</footer>
