<a href='#content' class='skip-to-main'>Skip to main content</a>
<header class='g-header'>
	<div class='g-header__inner'>
		<div class="g-header__logo">
			<a href='http://www.bostonglobe.com'>
				@@include('g-logo.svg')
				@@include('g-logo--sm.svg')
			</a>
		</div>
		<nav class='g-header__title benton-bold'>
			<a href="{{<% if(projectType === 'Multipage') { %>@root.meta.index.sectionUrl<% } else { %>meta.sectionUrl<% } %>}}">{{<% if(projectType === 'Multipage') { %>@root.meta.index.section<% } else { %>meta.section<% } %>}}</a>
		</nav>
		{{#if <% if(projectType === 'Multipage') { %>@root.meta.index.social<% } else { %>meta.social<% } %>}}
		<div class='g-header__share'>
			<a href='' class='g-header__share-button g-header__share-button--fb'>
				@@include('facebook.svg')
			</a>
			<a href='' class='g-header__share-button g-header__share-button--tw'>
				@@include('twitter.svg')
			</a>
		</div>
		{{/if}}
	</div>
</header>
