<a href='#content' class='skip-to-main'>Skip to main content</a>
<header class='g-header'>
	<div class='g-header--inner'>
		<div class="g-header--logo">
			<a href='http://www.bostonglobe.com'>
				@@include('g-logo.svg')
				@@include('g-logo--sm.svg')
			</a>
		</div>
		<nav class='g-header--title benton-bold'>
			<ul>
				<li><a href="{{meta.sectionUrl}}">{{meta.section}}</a></li>
			</ul>
		</nav>
		<ul class='g-header--social-list'>
			<li class='g-header--social-item'>
				<a href='#' class='share-fb' target='_blank'>
					@@include('facebook.svg')
				</a>
			</li>
			<li class='g-header--social-item'>
				<a href='#' class='share-tw' target='_blank'>
					@@include('twitter.svg')
				</a>
			</li>
		</ul>
	</div>
</header>
