// Ads :(
.ad-slot
	text-align center
	border-top 1px solid $gray-light
	border-bottom 1px solid $gray-light
	padding 0.5em 0 1em 0
	margin-bottom 3em
	&__overline
		font-size 0.75em
		color #666
		margin-bottom 0.5em
		a
			font-weight bold
		span:after
			content '|'
			display inline-block
			margin 0 0.5em
			color $gray-light