// Header Colorizer Mixin
// gives accessible foreground color based on bg color
header-color(bgcolor)
    background-color bgcolor
    if lightness(bgcolor) < 51%
        color white
        svg
            fill white
         &--social-item a:hover
                background-color rgba(white, 0.35)
    if lightness(bgcolor) < 61%
        &--title a
            color white
    else
        color #222
        svg
            fill #222
        &--social-item a:hover
                background-color rgba(#222, 0.35)
                
.g-header
    width 100%
    padding 1rem
    color #222
    border-bottom 1px solid #ccc
    min-height 3.5rem
    header-color(#fff)
    &--inner
        position relative     
        a
            opacity .75
            transition .2s ease all
            &:hover
                opacity 1
    &--title
        text-align left
        padding-left 2.5em
        letter-spacing .01em
        font-size .9rem
        @media only screen and (min-width: 50em)
            text-align center
            padding-left 0
    &--logo
        top .15rem
        position absolute

// Logos
.logo--lg
    display none
    @media only screen and (min-width: 50em)
        display inline-block
.logo--sm
    display inline-block
    @media only screen and (min-width: 50em)
        display none