//=======================
// Colors (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
//=======================

// Web Primary
$black 			= rgba(0, 0, 0, 1)
$black-hed		= rgba(68, 68, 68, 1)
$gray			= rgba(119, 119, 119, 1)
$gray-medium	= rgba(153, 153, 153, 1)
$gray-light		= rgba(226, 226, 223, 1)
$beige			= rgba(242, 242, 232, 1)
$red-deep		= rgba(170, 0, 22, 1)
$red-bright		= rgba(237, 28, 36, 1)

// Web Secondary
$blue-dark		= rgba(23, 51, 104, 1)
$blue 			= rgba(35, 78, 160, 1)
$orange-dark	= rgba(251, 118, 0, 1)
$orange			= rgba(251, 165, 0, 1)
$green-dark		= rgba(14, 80, 10, 1)
$green			= rgba(27, 155, 20, 1)

// Infographics Primary
$red			= rgba(234, 33, 45, 1)
$ocean			= rgba(89, 136, 157, 1)
$steel			= rgba(142, 157, 166, 1)
$grass			= rgba(157, 186, 115, 1)
$gold			= rgba(250, 186, 84, 1)
$mandarin		= rgba(244, 148, 87, 1)

// Infographics Secondary
$brick			= rgba(191, 97, 81, 1)
$periwinkle		= rgba(144, 177, 192, 1)
$celery			= rgba(194, 204, 161, 1)
$goldenrod		= rgba(253, 205, 128, 1)
$peach			= rgba(250, 186, 125, 1)
$lilac			= rgba(204, 180, 200, 1)
$putty			= rgba(181, 153, 125, 1)

// Infographics Backgrounds
$cool			= rgba(236, 237, 238, 1)
$neutral		= rgba(237, 236, 228, 1)
$warm			= rgba(235, 243, 247, 1)

// Infographics Maps
$water			= rgba(163, 185, 182, 1)
$land			= rgba(211, 216, 177, 1)
$streets		= rgba(231, 230, 221, 1)
$buildings		= rgba(203, 203, 196, 1)

// Print
$globe-red		= rgba(235, 32, 64, 1)
$tomato 		= rgba(235, 32, 59, 1)
$sunkist 		= rgba(248, 165, 49, 1)
$canary 		= rgba(255, 220, 46, 1)
$scallion		= rgba(164, 206, 104, 1)
$forrest-gump	= rgba(75, 184, 126, 1)
$tortola		= rgba(0, 176, 188, 1)
$de-stijl		= rgba(149, 176, 189, 1)
$slate			= rgba(102, 135, 172, 1)
$navy			= rgba(8, 65, 134, 1)
$razberry		= rgba(207, 66, 133, 1)
$dammit-janet	= rgba(144, 96, 165, 1)
$java			= rgba(123, 50, 55, 1)
$cocoa			= rgba(166, 85, 56, 1)
$mt-olive		= rgba(130, 123, 52, 1)
$latte			= rgba(195, 137, 84, 1)
$ochre			= rgba(217, 175, 99, 1)
$cyan			= rgba(0, 175, 236, 1)
$magenta		= rgba(234, 20, 140, 1)
$yellow			= rgba(255, 240, 42, 1)
$kicker-black	= rgba(27, 29, 33, 1)