@font-face
	font-family 'Miller'
	src url('http://apps.bostonglobe.com/common/font/miller-regular.woff2') format('woff2'),
	url('http://apps.bostonglobe.com/common/font/miller-regular.woff') format('woff')
	font-weight 400
	font-style normal
		
@font-face
	font-family 'Benton'
	src url('http://apps.bostonglobe.com/common/font/benton-bold.woff2') format('woff2'),
	url('http://apps.bostonglobe.com/common/font/benton-bold.woff') format('woff')
	font-weight 600
	font-style normal