//=======================
// Breakpoint Helpers
//=======================
$mq_cache = {}

mq($condition)
	helper($condition)
		unless $mq_cache[$condition]
			$mq_cache[$condition] = ()
		push($mq_cache[$condition], block)

	+helper($condition)
		{selector() + ''}
			{block}
			
apply_mq_cache()
	for $mq, $blocks in $mq_cache
		$mq = unquote($mq_vars[$mq] || $mq)
		$mq = '(%s)' % $mq unless match('\(', $mq)
		$mq = 'only screen and %s' % $mq
		@media $mq
			for $block in $blocks
				{$block}

//=======================
// Clearfix
//=======================
clearfix()
	overflow auto
	zoom 1