 .skip-to-main
 	width 1px 
 	height 1px 
 	overflow hidden
 	position absolute
 	&:focus 
 		width auto
 		height auto
 		background-color #efefef
 		padding 0.5em 
 		font-family $benton
 		z-index 1