//========================
// Fonts
//========================
$benton = 'Benton', Helvetica, Arial, sans-serif
$miller = 'Miller', Georgia, Times, serif
$miller-banner = 'Miller-Banner', Georgia, Times, serif

//========================
// Breakpoints
//========================
$mq_vars = {
    bp-1: '(min-width: 10em)'
    bp-2: '(min-width: 30em)'
    bp-3: '(min-width: 50em)'
}
