//========================
// Breakpoints
//========================
$mq_vars = {
    bp-1: '(min-width: 25em)'
    bp-2: '(min-width: 40em)'
    bp-3: '(min-width: 60em)'
}

//========================
// Type Scale
//========================
$root-size = 20px
$root-lh = 2

$type-scale = {
	x-small: 12px
	small: 16px
    base: $root-size
    medium: 24px
    large: 32px
    x-large: 48px
}

//========================
// Typefaces
//========================
$sans = Helvetica, Arial, sans-serif
$serif = Georgia, Times, serif
$sans-cond = Impact, Arial Narrow, Helvetica, sans-serif
$benton = Benton, Helvetica, Arial, sans-serif
$miller = Miller, Georgia, Times, serif
$miller-banner = Miller-Banner, Georgia, Times, serif

$regular = 400
$bold = 700
