//========================
// Breakpoints
//========================
$mq_vars = {
    bp-1: '(min-width: 10em)'
    bp-2: '(min-width: 30em)'
    bp-3: '(min-width: 50em)'
}

//========================
// Type Scale
//========================
$root-size = 16px
$root-lh = 1.5

$type-scale = {
	small: 14px
    base: $root-size
    medium: 18px
    large: 24px
    x-large: 28px
}

//========================
// Typefaces
//========================
$sans = Helvetica, Arial, sans-serif
$serif = Georgia, Times, serif
$benton = Benton, Helvetica, Arial, sans-serif
$miller = Miller, Georgia, Times, serif
$miller-banner = Miller-Banner, Georgia, Times, serif

$regular = 400
$bold = 700
