{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "root": true,
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off"
  },
  "extends": "airbnb-base"
}
