//=======================
// Custom styles
//=======================

// To use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

// See `base` folder for variables (color, font, media queries)