<!doctype html>
<!--[if IE 7 ]>    <html class='ie7'> <![endif]-->
<!--[if IE 8 ]>    <html class='ie8'> <![endif]-->
<!--[if IE 9 ]>    <html class='ie9'> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=''> <!--<![endif]-->
    <head>
        {{> base/base-meta }}
        {{> base/base-head }}
        {{> base/base-critical }}
    </head>
    <body>
        {{> base/base-header }}
		{{> graphic/graphic }}
        {{> base/base-footer }}
        {{> base/base-svg }}
        {{> base/base-js }}
        {{> base/base-analytics }}
    </body>
</html>
