.g-footer
    padding-top 1em

.teasers
	padding-top 1em
	margin 2em auto
	+mq('bp-3')
		max-width 75em
	
	&__title
		text-align center
		margin 0.5em auto
		max-width 90%
		overflow hidden
		color #333
		margin 1em auto .75em
		font-size .75rem
		text-transform uppercase
		font-weight bold
		+mq('bp-2')
			max-width 50%
		
		&:before, &:after
			content ''
			display inline-block
			vertical-align middle
			position relative
			width 50%
			border-top 1px solid #ccc
			
		&:before
			right 1em
			margin-left -50%
		
		&:after
			left 1em
			margin-right -50%
			
	&__list
		list-style-type none
		display flex
		flex-direction column
		+mq('bp-2')
			flex-direction row
	
	&__item
		flex 1
		margin 1em
		+mq('bp-2')
			margin .5em
		+mq('bp-3')
			margin .5em 1em

	&__link
		text-decoration none
		background-position 25% 50%
		min-height 15em
		background-size cover
		color rgba(255,255,255,1)
		display flex
		flex-direction column
		justify-content center
		align-items center
		transition .3s ease all
		
		&:hover
			transition .3s ease all
			opacity .5
	
	&__img
		text-decoration none
		background-position 25% 50%
		min-height 15em
		width 100%
		background-size cover
		
	
	&__hed
		font-size 1.375em
		line-height 1.35
		width 100%
		padding .5em 0
		color black
		transition .3s ease all
		
		&:hover
			text-decoration underline
			transition .3s ease all