<a href='#content' class='skip-to-main'>Skip to main content</a>
<header class='g-header'>
	<div class='g-header__inner'>
		<div class="g-header__logo">
			<a href='http://www.bostonglobe.com'>
				@@include('g-logo.svg')
				@@include('g-logo--sm.svg')
			</a>
		</div>
		<nav class='g-header__title benton-bold'>
			<a href="{{meta.sectionUrl}}">{{meta.section}}</a>
		</nav>
	</div>
</header>
