<footer class='g-footer'>
    <ul class='g-footer--credits'>
        {{#each copy.credits}}
            <li class='g-footer--credits-item'>{{role}} by <span class='g-footer--author'>{{name}}</span></li>
        {{/each}}
    </ul>
    <small class='g-footer--copyright iota'>&copy; <span class='g-footer--copyright-year'>2015</span> Boston Globe Media Partners, LLC</small>
</footer>