<a href='#content' class='skip-to-main'>Skip to main content</a>
<header class='g-header {{copy.header_color}}'>
    <div class='g-header--inner'>
        <h1 class="g-header--logo">
            <a href='http://www.bostonglobe.com' title='The Boston Globe'>
                @@include('g-logo.svg')
                @@include('g-logo--sm.svg')
            </a>
        </h1>
        <h2 class='g-header--title'>
            {{copy.section}}
        </h2>
        <ul class='g-header--social-list'>
            <li class='g-header--social-item'>
                <a href='#' class='share-fb' target='_blank' title='Facebook'>
                    @@include('facebook.svg')
                </a>
            </li>
            <li class='g-header--social-item'>
                <a href='#' class='share-tw' target='_blank' title='Twitter'>
                    @@include('twitter.svg')
                </a>
            </li>
        </ul>
    </div>
</header>