<div id='{{#if ad}}{{ad}}{{else}}ad_bigbox1{{/if}}' class='ad-slot'>
	<p class='ad-slot__overline'><span>Advertisement</span><a href='#continue-after-ad'>Continue reading below</a></p>
	<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('{{#if ad}}{{ad}}{{else}}ad_bigbox1{{/if}}');});
	</script>
</div>
<div id='continue-after-ad'></div>