<footer role='contentinfo' class='g-footer'>
	<p class='g-footer--credits'>{{meta.credits}}</p>
	
	{{> base/base-teasers}}
	
	<small class='g-footer--copyright iota'>&copy; <span class='g-footer--copyright-year'>2015</span> Boston Globe Media Partners, LLC</small>
</footer>
