<a href='#content' class='skip-to-main'>Skip to main content</a>
<header class='g-header {{copy.header_color}}'>
    <div class='g-header--inner'>
        <h1 class="g-header--logo">
            <a href='http://www.bostonglobe.com' title='The Boston Globe'>
                <img class='inject logo--lg' src='https://apps.bostonglobe.com/common/img/g-logo.svg' alt='The Boston Globe'>
                <img class='inject logo--sm' src='https://apps.bostonglobe.com/common/img/g-logo--sm.svg' alt='The Boston Globe'>
            </a>
        </h1>
        <h2 class='g-header--title'>
            {{copy.section}}
        </h2>
        <ul class='g-header--social-list'>
            <li class='g-header--social-item'>
                <a href='#' class='share-fb' target='_blank' title='Facebook'>
                    <img class='inject' src='https://apps.bostonglobe.com/common/img/facebook.svg' alt='Facebook'>
                </a>
            </li>
            <li class='g-header--social-item'>
                <a href='#' class='share-tw' target='_blank' title='Twitter'>
                    <img class='inject' src='https://apps.bostonglobe.com/common/img/twitter.svg' alt='Twitter'>
                </a>
            </li>
        </ul>
    </div>
</header>