{{#if teasers}}
<div class='teasers'>
	<h4 class='teasers__title benton-bold'>Up next</h4>
	<ul class='teasers__list'>
		{{#each teasers}}
		<li class='teasers__item'>
			<a class='teasers__link' href='{{url}}' style="background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.4)), url({{image}});">
				<h3 class='teasers--hed miller-regular'>{{title}}</h3>
			</a>
		</li>
		{{/each}}
	</ul>
</div>
{{/if}}
