{{#if meta.teasers}}
<div class='teasers'>
	<h4 class='teasers--title'>Up next</h4>
	<ul class='teasers--list'>
		{{#each meta.teasers}}
		<li class='teasers--item'>
			<a class='teasers--link' href='{{link}}' title='{{hed}}' style="background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.4)), url(assets/img/{{image}}.jpg);">
				<h3 class='teasers--hed'>{{hed}}</h3>
			</a>
		</li>
		{{/each}}
	</ul>
</div>
{{/if}}